.container-fluid{
    padding-top:50px;
    padding-bottom:50px;
    /* background-color: grey; */
}

div{
    /* border: 1px solid red; */
}
.container{
   width: 100%;
}

.badge-php{
    background-color: darkgreen;
    color: white;
}

.badge-python{
    background-color: purple;
    color: white;
}

.badge-swift{
    background-color: lightblue;
    color: white;
}

.badge-obj-c{
    background-color: darkblue;
    color: white;
}

html {
    scroll-behavior: smooth;
}