<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed;width: 100%;z-index: 3;" id="nav">

    <a class="navbar-brand" href="{{site.url}}">{{ site.name }}</a>
    <div class="ml-auto mr-3">
        <span class="">
            <a class="btn btn-social-icon btn-github m-auto" href="https://github.com/trigaten"><i
                    class="fa fa-github fa-lg"></i></a>
        </span>
        <span class="ml-lg-1">
            <a class="btn btn-social-icon btn-linkedin m-auto" href="https://www.linkedin.com/in/sander-schulhoff"><i
                    class="fa fa-linkedin fa-lg"></i></a>
        </span>
    
        <span class="ml-lg-1">
            <button onclick="showEmails()" id="email-toggler" class="btn btn-social-icon btn-github m-auto" href="#"><i
                    class="fa fa-envelope fa-lg"></i></button>
        </span>
    </div>
    
    <style>
        .purple-bg {
            background-color: purple
        }
    </style>
    <script>
        let emailsShown = false;
        function showEmails() {
            let btnElement = document.getElementById("email-toggler")
            if (emailsShown) {
                btnElement.classList.remove("purple-bg")
                btnElement.classList.add("btn-github");
            } else {
                btnElement.classList.remove("btn-github");
                btnElement.classList.add("purple-bg")
            }
            $("#email-element").slideToggle();
            emailsShown = !emailsShown
        }
    </script>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            {% for item in site.data.nav %}
                <li class="nav-item">
                    <a class="nav-link {% if page.url == item.link %} active{% endif %}" href="{{ item.link }}" target="{{item.target}}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<!-- emails toggle down -->
<div class="bg-light p-3"
    style="position: fixed; z-index:2;margin-top: 55px;display: none;border: 1px solid black;border-top: none;"
    id="email-element">
    <h2 class="display-10">Contact</h2><br>

    <h5>Personal Email</h5>
    <a style="color: inherit;" href="mailto:sanderschulhoff@gmail.com"><i class="fas fa-envelope"></i>
        sanderschulhoff@gmail.com</a><br><br>
    <h5>College Email</h5>
    <a style="color: inherit;" href="mailto:sschulho@umd.edu"><i class="fas fa-envelope"></i>
        sschulho@umd.edu</a><br><br>
    <h5>Teacher Recommender System</h5>
    <a style="color: inherit;" href="TeacherRecSystem@gmail.com"><i class="fas fa-envelope"></i>
        TeacherRecSystem@gmail.com</a>
</div>